@import url('https://fonts.googleapis.com/css?family=Rajdhani');
h1 {
	color: white;
	font-size: 80px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
}

a:active {
	position: relative;
	top: 4px;
	box-shadow: 0px 4px 0px black;
}

.pressed {
	position: relative;
	top: 4px;
	box-shadow: 0px 4px 0px black;
}

a {
	text-decoration: none;
	color: white;
	font-size: 45px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
	box-shadow: 0px 10px 0px black;
	float: inherit;
	margin: 10px 10px 10px 10px;
}
.cp {
	position: fixed;
	bottom: 8px;
	text-align: center;
	width: 100%;
	color: white;
	font-size: 15px;
	font-family: 'Rajdhani', sans-serif;
}

body {
	background-color: #1C1F32;
}


iframe {
	margin: auto;
	display: block;
}

p {
	color: white;
	font-size: 30px;
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
}

.name {
  width:186px;
  font-size: 20px;
  height:35px;
  font-family: 'Rajdhani', sans-serif;
}

.link {
  width:286px;
  font-size: 20px;
  height:35px;
  font-family: 'Rajdhani', sans-serif;
}


.sub {
  width:86px;
  height:41px;
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}


.selvideo {
   display:none;
}

.selvideodiv {
	margin: auto;
	display: block;
	width:400px;
	height:5vh;
}

#sendvideo {
	top: 5px;
	position:relative;
	width:159px;
	height:35px;
  font-size: 20px;
	font-family: 'Rajdhani', sans-serif;
	display: none;
}

.selectfilebutton {
	border-style:solid;
	border-color: #D8D8D8;
	border-width: 1px;
	width:186px;
	position:relative;
	top: 10px;
	padding:5px;
	font-size: 20px;
	color: black;
	background-color: #F2F2F2;
	font-family: 'Rajdhani', sans-serif;
}

.selectfilebutton:active {
	border-style:solid;
	border-color: #BDBDBD;
	border-width: 1px;
	width:186px;
	position:relative;
	top: 10px;
	padding:5px;
	font-size: 20px;
	color: black;
	background-color: #D8D8D8;
	font-family: 'Rajdhani', sans-serif;
}
/* ©Javi */
